# cache
__pycache__
.ruff_cache/
.mypy_cache/

# ide
.vscode

# venv
.venv/
venv/

# sambot
data/config.env
sambot/database/*.db
locales/*/*/*.mo
data/downloads/*.zip

# rye
requirements.lock
requirements-dev.lock
.python-version
